@import '../../base/base';

.widget {
  &.widget-card-list-one {
    padding: 20px;

    .widget-heading {
      margin-bottom: 20px;
      display: flex;
      justify-content: space-between;
      h5 {
        align-self: center;
        font-size: 17px;
        display: block;
        color: #0e1726;
        font-weight: 600;
        margin-bottom: 0;
      }
    }

    .widget-content {
      .w-list-group {

        .card {
          border: none;
          box-shadow: none;
          background: transparent;
          img {
            border-radius: 26px;
            box-shadow: 1px 1px 16px 0px rgba(0, 0, 0, 0.18);
          }

          .card-body {
            display: flex;
            justify-content: space-between;
            padding: 10px 0 0 0;
            .widget-card-content {
              h5 {
                &.card-title {
                  
                }
              }
              p {
                margin-bottom: 0;
              }
            }
            span {

            }
          }
        }
        
      }
    }
  }
}

@media (max-width: 767px) {

  .widget {
    &.widget-card-list-one {

      .widget-heading {
        display: block;
        h5 {
          margin-bottom: 20px;
        }
      }
      
      .widget-content {
        .w-list-group {
          .card {
            margin-bottom: 25px;
          }
        }
      }
    }
  }
  
}