@import '../../base/base';

.widget-t-sales-widget {
  padding: 20px;
  background: #fff;

  .media .icon {
    background: #000;
    border-radius: 50%;
    padding: 10px;
    color: #fff;
  }

  &.widget-m-sales .media .icon {
    background: #f2eafa;
    color: #805dca;
  }

  &.widget-m-orders .media .icon {
    background: #eceffe;
    color: #4361ee;
  }

  &.widget-m-customers .media .icon {
    background: #fbeced;
    color: #e7515a;
  }

  &.widget-m-income .media .icon {
    background: #ddf5f0;
    color: #00ab55;
  }

  .media {
    .icon {
      &.sales {}

      svg {
        width: 30px;
        height: 30px;
        stroke-width: 1.5;
      }
    }

    .media-body {
      align-self: center;
      text-align: right;

      .widget-text {
        font-size: 20px;
        margin-bottom: 0;
      }
    }
  }

  &.widget-m-sales .media .media-body .widget-text {
    color: #805dca;
  }

  &.widget-m-orders .media .media-body .widget-text {
    color: #4361ee;
  }

  &.widget-m-customers .media .media-body .widget-text {
    color: #e7515a;
  }

  &.widget-m-income .media .media-body .widget-text {
    color: #00ab55;
  }

  .widget-numeric-value {
    font-size: 22px;
    margin-top: 0;
    margin-bottom: 0;
  }

  .w-bottom {
    justify-content: space-between;

    .task-action {
      align-self: end;

      .dropdown-toggle svg {
        color: #888ea8;
        width: 19px;
        height: 19px;
      }
    }
  }

  .widget-total-stats {
    margin-bottom: 0;
    margin-top: 12px;
    font-size: 15px;
  }
}

body.dark .widget-t-sales-widget {
  padding: 20px;

  &.widget-m-sales .media .icon {
    background: #805dca;
    color: #fff;
  }

  &.widget-m-orders .media .icon {
    background: #4361ee;
    color: #fff;
  }

  &.widget-m-customers .media .icon {
    background: #e7515a;
    color: #fff;
  }

  &.widget-m-income .media .icon {
    background: #00ab55;
    color: #fff;
  }
}